name: Go
on: [push]
jobs:

  build:
    strategy:
      matrix:
        go-version: ["stable"]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: set-grep-color
      run: git config --global color.grep.match "black red"

    - name: Set up Go stable
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: make

    - name: Test
      run: make test
